[Desktop Entry]
Name=WebCord
Exec=webcord
Terminal=false
Type=Application
Icon=webcord
StartupWMClass=WebCord
Comment=A Discord and Fosscord electron based client implemented without Discord API
Categories=Network;InstantMessaging;
Keywords=Discord;Fosscord;
