[Desktop Entry]
Name=FreeTube
StartupWMClass=FreeTube
Comment=An open source desktop YouTube player built with privacy in mind
GenericName=YouTube Player
Exec=freetube %U
Icon=freetube
Type=Application
Categories=GTK;AudioVideo;Audio;Video;Player;TV
Path=/usr/bin
